[submodule "xtensa-overlays"]
	path = overlays
	url = ../../espressif/xtensa-overlays.git
[submodule "xtensa-dynconfig"]
	path = xtensa-dynconfig
	url = ../../espressif/xtensa-dynconfig
[submodule "esp-toolchain-bin-wrappers"]
	path = esp-toolchain-bin-wrappers
	url = ../../espressif/esp-toolchain-bin-wrappers
